@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  padding: 0;
  margin: 0;
}

body{
  background-color: #dedede;
}

.expense{
  color: #f00;
}

.report-container{
  display: flex;
  justify-content: space-between;
}

.report-container>div{
  flex: 1;
  text-align: center;
}

.report-container>div:first-of-type{
  border-right: 1px solid #dedede;
}

.report{
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.report.minus{
  color: #f00;
}